/* Universal Selector */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body Styles */
body{
    margin:0;
    padding-top:70px;
    font-family:Arial,sans-serif;
    background:#f4f6f9;
}

/* Header Styles */

#mainHeader{
    background:linear-gradient(to right,#007bff,#00c6ff);
    color:white;
    padding:20px;
    text-align:center;
}


nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color:#004080;
    padding:15px;
    z-index:1000;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 20px;
    font-size:18px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

/* Navigation */

nav ul{
    list-style:none;
    display:flex;
    gap:20px;
    padding:10px;
}

nav a:link{
    color:blue;
}

nav a:hover{
    color:red;
}

nav a:visited{
    color:white;
}

nav a:active{
    color:lightcyan;
}

/* Event Card */

.eventCard{
    border:2px solid gray;
    padding:20px;
    margin:20px;
    background:rgba(255,255,255,0.8);
}

/* Typography */

h2{
    color:#003366;
}

h3,p{
    color:#333;
}

.description{
    text-align:justify;
    line-height:1.8;
    letter-spacing:1px;
    text-transform:capitalize;
}

/* Table */

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
    background:white;
}

td{
    border:1px solid #ddd;
    padding:15px;
    text-align:center;
}

.eventImage{
    width:250px;
    height:180px;
    object-fit:cover;
    border:3px solid #007bff;
    border-radius:10px;
}

td p{
    margin-top:10px;
    font-weight:bold;
}
input:focus,
textarea:focus{
    outline:3px solid orange;
}


.news{
    column-count:2;
    column-gap:30px;
    column-rule:1px solid gray;
}


@media screen and (max-width:768px){

nav ul{
    flex-direction:column;
}

img{
    width:100%;
}

h1,h2{
    font-size:20px;
}

}
#welcomeBanner{
    background:linear-gradient(to right,#0c33a9,#4f75d5);
    color:white;
    padding:30px;
    text-align:center;
    font-size:24px;
    font-weight:bold;
}
.highlight{
    background:rgb(141, 169, 220);
    padding:5px;
    font-weight:bold;
}